<!DOCTYPE html>
<html>
    <head>
        <title>Gozer Website Interface</title>
        <link rel="stylesheet" type="text/css" href="../static/styles/base.css">
    </head>
    <body>
        <div class="Header">Gozer</div>
        <hr> <!--Adds a horizontal line under the header-->

        <!--Here is where all of the buttons for controlling the house will go-->
        <form action="/onButtonClick/" method="post">
            <div class="button-container">
                
                <input type="submit" name="submit_button" value="Open Front Door">
                <input type="submit" name="submit_button" value="Lock Front Door">

                <input type="submit" name="submit_button" value="Open Garage Door">
                <input type="submit" name="submit_button" value="Close Garage Door">

                <input type="submit" name="submit_button" value="Open Blinds">
                <input type="submit" name="submit_button" value="Close Blinds">
            </div>    
        </form>

        {% block workplane %}
        {% endblock %}
    </body>
</html>