.Header {
  text-align: center;
  font-size: 250%
}

.button-container {
  width: 465px;
  background: gray;
  overflow-y: auto;
}

.button-container > input {
  width: 200px;
  height: 100px;
  float: center;
  background: lightgray;   
  margin: 15px;
}